/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage
/docker/develop/mysql/data
/docker/develop/mailpit/data
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/docker/develop/mysql/data
/docker/develop/mailpit/data
/tests/coverage
